<!-- <div>
  <h1> {{title}} </h1>
  <button type="button" class="btn btn-primary">Primary</button>
</div> -->

<div class="frame0">
  <div class="buttonGroup">
    <a href="#homeTarget"><button type="button" class="btn btn-outline-secondary">Home</button></a>
    <a href="#summaryTarget"><button type="button" class="btn btn-outline-secondary">Summary</button></a>
    <a href="#educationTarget"><button type="button" class="btn btn-outline-secondary">Education</button></a>
    <a href="#contactTarget"><button type="button" class="btn btn-outline-secondary">Contact</button></a>
  </div>
  <div class="allFrame frame1" id="homeTarget">
    <a name="home"></a>
    <div class="imageHolder">
      <img class="myPic" src="../../assets/me.jpg" alt="Image of Felix Jerome Dela Fuente">
    </div>
    <div class="allTextHolder textHolder1 fade-in">
      <h1 id="intro" class="">Hi, I'm</h1>
      <h1 id="name">Felix Jerome <br> Dela Fuente</h1>
      <h1 id="course" class="">BS Information Technology</h1>
    </div>
  </div>

  <div class="allFrame frame2" name="summaryTarget" id="summaryTarget">
    <!-- <a name="summary"></a> -->
    <div class="allTextHolder textHolder2">
      <h1 class="summTitle">SUMMARY</h1>
      <p id="summary">Currently studying BS Information Technology at Lyceum of the Philippines University - Cavite. 
        Holds National Certificate II in Animation and has passion for Game Development/Design and 
        Graphic Design. Worked on several simple projects such as an Animated Learning Mobile App 
        and Graphic Design Posters for our College Department.</p>
    </div>
  </div>

  <div class="allFrame frame3" id="educationTarget">
    <a name="education"></a>
    <div>
      <h1 class="education">EDUCATION</h1>
    </div>
    <div class="schoolHolder">
      <h3 class="school">Lyceum of the Philippines University - Cavite</h3>
    </div>
    <div class="paragraphHolder">
      <p class="description">Bachelor of Science in Information Technology | 2019 - Present
        <br> College of Engineering, Computer Studies, and Architecture (COECSA) Graphics Design Committee Member
      </p>
    </div>
    <div class="schoolHolder">
      <h3 class="school">University of Perpetual Help System DALTA - Molino</h3>
    </div>
    <div class="paragraphHolder">
      <p class="description">Senior High School - Information and Communication Technology (ICT) - TVL Track | 2017 - 2019
        <br> Graduate with Honors | ICT Work Immersion Awardee | National Certificate Level 2 in Animation
      </p>
    </div>
    <div>
      <h3 class="school">General Licerio Topacio National High School</h3>
    </div>
    <div class="paragraphHolder">
      <p class="description">Junior High School - Computer Hardware Servicing Specialization
        <br> Graduate with Honors | Best in Computer Hardware Servicing</p>
    </div>
  </div>

  <div class="allFrame frame4" id="contactTarget">
    
    <div class="allTextHolder textHolder4">
      <h1 class="contact">CONTACT</h1>
    </div>
    <div>
      <p class="colon"><span>Contact #: </span> &nbsp;+639451034321</p>
      <p class="colon"><span>Email: </span> &nbsp;felixjerome.delafuente@gmail.com</p>
      <p class="colon"><span>LinkedIn: </span><a href="www.linkedin.com/in/felixjerome-delafuente">&nbsp;www.linkedin.com/in/felixjerome-delafuente</a></p>
      <p class="colon"><span>GitHub: </span><a href="https://github.com/fj-delafuente">&nbsp;https://github.com/fj-delafuente</a></p>
      <p class="colon"><span>Facebook: </span><a href="https://www.facebook.com/fj.dlfuente">&nbsp;https://www.facebook.com/fj.dlfuente</a></p>
    </div>
  </div>
</div>




<app-login></app-login>

<app-home></app-home>
