<!-- <p>home works!</p> -->
<!-- <div class="container-fluid vh-100">
    <div class="row vh-100">
        <div class="col-12 container-1"> text-center vh-25 -->
            <!-- <button type="button" class="btn btn-primary" 
            [disabled] = "isDisabled" 
            (click) = "click('123456')">Button</button>
            <img [src]="imgLink" alt=""> -->
            <!-- <h1 [ngClass] = "{'colorGreen': isGreen}">{{x}}</h1> -->
            <!-- <h1 *ngFor = "let i of items | async">{{i.title}}</h1> -->
            <!-- <div class="empty2" style="height:50px; width:100%"></div>
            <div class="empty1" style="height:100%; width:50px"></div>
            <img src="../../assets/me.jpg" alt="Felix Jerome Dela Fuente" class="myImage ">
            <h1>Felix Jerome Dela Fuente</h1>
        </div> -->


        <!-- <div class="col-6 vh-25 text-center container-2">
            //<h1 *ngIf = "isShow; else elseBlock">{{x}}</h1>
            //<ng-template #elseBlock>
            //    <h1>{{title}}</h1>  
            //</ng-template>  

            <ul>
                <li *ngFor = "let i of count">
                    {{i}}
                </li>
            </ul>
        </div>

        <div class="col-6 vh-25 text-center container-3">
            <input type="text"
                class = "form-control" 
                    [(ngModel)] = "x" placeholder="Firstname">

        </div> -->
    <!-- </div>
</div> -->

